@use 'sass:math';
@use '../_config.scss' as *;

.banner{
    position: relative;
    overflow: hidden
}

.banner-line{
    position: relative;
    &__item{
        display: block;
        width: 1px;
        height: 0;
        position: fixed;
        background-color: hsla(0, 0%, 48.6%, .2);
        z-index: 10;
        top: 0;
        pointer-events: none;
        height: 100%;
        &:nth-child(1){
            left: 25%;
        }
        &:nth-child(2){
            left: 50%;
        }
        &:nth-child(3){
            left: 75%;
        }
    }
}

.banner-overlay{
    position: absolute;
    width: 25%;
    // height: 100%;
    background-color: #000000;
    top: 0;
    z-index: 3;

    &.trans-start {
        -webkit-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
        height: 100%;
    }
    &.loaded{
        height: 0
    }

    &--1{
        @extend .banner-overlay;
        left: 0;
        &.loaded{
            transition: height .6s cubic-bezier(.645, .045, .355, 1) .5s;
        }
    }
    &--2{
        @extend .banner-overlay;
        left: 25%;
        &.loaded{
            transition: height .6s cubic-bezier(.645, .045, .355, 1) .5333s;
        }
    }
    &--3{
        @extend .banner-overlay;
        left: 50%;
        &.loaded{
            transition: height .6s cubic-bezier(.645, .045, .355, 1) .5666s;
        }
    }
    &--4{
        @extend .banner-overlay;
        left: 75%;
        &.loaded{
            transition: height .6s cubic-bezier(.645, .045, .355, 1) .5999s;
        }
    }
    
}

.banner-content{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: auto;
    pointer-events: none;
    &__item{
        width: 100%;
        height: 100%;
        overflow: visible;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        &.bs-active{
            visibility: visible;
            opacity: 1;
        }
    }

    &__top{
        position: absolute;
        top: 30%;
        left: 7vw;
        width: 35vw;
        z-index: 100;
    }
    &__title{
        overflow: hidden;
        margin-bottom: 30px;
        line-height: 100px;
        font-size: 85px;
        color: #ededed;
        font-weight: 600;
        overflow: hidden;
        letter-spacing: -2px;
        position: relative;
        z-index: 4;
        width: 35vw;
    }
    &__title-text{
        display: inline-block;
    }
    &__category{
        font-size: 32px;
        color: #ededed;
    }
    &__category-text{
        display: inline-block;
    }
}

.banner-swiper{
    @include imageRatio(1920,900);
    position: relative;
    height: 100vh;

    .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
        left: unset;
        top: unset;
        transform: unset;
        right: 100px;
        bottom: 100px;
    }
    .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
        display: inline-block;
    }
    &__image-container{
        height: 100vh;
    }
    &__info-container{
        position: absolute;
        top: 30%;
        left: 7vw;
        z-index: auto;
        width: 35vw;
    }

    &__subtitle{
        position: relative;
        font-size: 32px;
        letter-spacing: 1.5px;
        overflow: hidden;
        color: #ffffff;
    }
    &__subtitle-text
    {
        display: inline-block;
    }
    &__title{
        font-size: 72px;
        z-index: 2;
        color: #ffffff;
        overflow: hidden;
    }

    &__title-text{
        display: inline-block;
    }
}

.banner-pagination{
    position: absolute;
    top: unset !important;
    height: 50px;
    right: 7% !important;
    bottom: 60px;
    z-index: 99;
    z-index: 222;
    overflow: hidden;
    &.swiper-pagination-bullets .swiper-pagination-bullet
    {
    display: inline-block !important;
    }

    
}

.banner-navigation{
    width: 120px;
    height: 50px;
    position: absolute;
    z-index: 222;
    left: 7%;
    bottom: 100px;
    .swiper-button-prev,
    .swiper-button-next{
        path{
            fill: #ffffff;
        }
    }
    .swiper-button-prev:after, 
    .swiper-button-next:after {
        display: none;
    }
}


.bs-bullets .swiper-pagination-bullet {
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
    background: transparent;
    font-size: 16px;
    border-radius: 0;
    transition: opacity .3s, -webkit-transform .5s ease;
    color: #ededed
}

.bs-bullets .swiper-pagination-bullet::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    background-color: #c6c6c6;
    vertical-align: middle;
    margin: 0 20px;
    transition: all .4s ease
}

.bs-bullets .swiper-pagination-bullet:last-child::before,
.bs-bullets .swiper-pagination-bullet:last-child::after {
    display: none
}

.bs-bullets .swiper-pagination-bullet::before {
    content: "";
    display: none;
    position: absolute;
    left: 37.8px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    top: 50%;
}
.bs-bullets .swiper-pagination-bullet-active::before {
    display: block;
}

// .bs-bullets .swiper-pagination-bullet::before {
//     background-color: #ededed
// }
// .bs-bullets .swiper-pagination-bullet::after {
//     color: #c6c6c6
// }
.bs-bullets .swiper-pagination-bullet-active{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
// .bs-bullets .swiper-pagination-bullet-active::after {
//     width: 100px;
//     -webkit-transition-delay: 1s;
//     -o-transition-delay: 1s;
//     transition-delay: 1s
// }

.bs-bullets .swiper-pagination-bullet-active::before {
    display: block;
    //animation-name: progressBar;
}

.progress-init::before {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.bs-bullets .swiper-pagination-bullet.anim-in {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.bs-bullets .swiper-pagination-bullet-active.anim-in::after {
    width: 100px;
    transition-delay: 1s
}

.anim-in.progress-init::before {
    -webkit-animation-name: progressBar;
    animation-name: progressBar;
}

@-webkit-keyframes progressBar {
    from {
        width: 0px;
    }

    to {
        width: 100px;
    }
}

@keyframes progressBar {
    from {
        width: 0px;
    }

    to {
        width: 100px;
    }
}